.burger {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 0.83vw;
  line-height: 160%;
  color: var(--text-light-color);

  &__icon {
    --current-color: var(--text-light-color);

    margin-left: 14px;
    width: 24px;
    height: 16px;
  }

  @include mq(1024) {
    font-size: 1.5vw;
  }

  @include mq(460) {
    font-size: 0;
  }
}
