.button {
  position: relative;
  z-index: 0;
  padding-top: 1.67vw;
  padding-bottom: 1.67vw;
  width: 100%;
  min-width: 100px;
  max-width: 21.88vw;
  font-family: var(--font-family-second);
  font-weight: 700;
  font-size: 0.89vw;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #d1dbff;

  &--main {
    border-radius: 11px;
    box-shadow: inset 0 4px 26px rgba(255 255 255 / 22%);
    background: #2643ff;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #546afd;
    }
  }

  &--white {
    border-radius: 11px;
    box-shadow: inset 0 4px 26px rgba(255 255 255 / 22%);
    color: #303035;
    background: #f6f7fd;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: #d1dbff;
      background-color: #546afd;
    }
  }

  &--small {
    padding-top: 1.35vw;
    padding-bottom: 1.35vw;
  }

  &--transparent {
    border: 1px solid rgba(255 255 255 / 20%);
    border-radius: 12px;
    padding-top: 1.35vw;
    padding-bottom: 1.35vw;
    box-shadow: 0 0 15px rgba(255 255 255 / 8%);

    &:hover {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.0875) 100%);
    }
  }

  @include mq(1024) {
    font-size: 1.2vw;
  }

  @include mq(768) {
    max-width: 30vw;
    font-size: 1.8vw;
  }

  @include mq(460) {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    font-size: 14px;
  }
}
