.footer {
  padding-top: 1.56vw;
  padding-bottom: 2.34vw;
  background: linear-gradient(180deg, #1E2543 0%, #020B31 100%);

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mq(768) {
      flex-wrap: wrap;
    }

    @include mq(460) {
      flex-flow: column nowrap;
      align-items: center;
    }
  }

  &__logo {
    @include mq(460) {
      flex-direction: column;
      margin-bottom: 20px;

      .logo__text {
        margin-top: 15px;
        margin-left: 0;
        padding-top: 10px;
        padding-left: 0;
        text-align: center;

        &::before {
          left: 0;
          right: 0;
          top: 0;
          bottom: auto;
          margin: 0 auto;
          width: 45px;
          height: 1px;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.68vw;
    color: var(--text-light-color);
    transition: color var(--transition-setting);

    &-icon {
      flex-shrink: 0;
      margin-right: 6px;
    }

    &:not(:last-child) {
      margin-right: 1.3vw;
    }

    &:hover {
      color: var(--text-gray-color);
    }

    &--address {
      max-width: 11vw;

      .link-icon {
        align-self: flex-start;

        @include mq(460) {
          align-self: center;
          margin-bottom: 10px;
        }
      }

      @include mq(768) {
        max-width: 30vw;
        font-size: 14px;
      }

      @include mq(460) {
        flex-direction: column;
        align-items: center;
        margin-right: 0 !important;
        max-width: 190px;
        text-align: center;
      }
    }

    &--email {
      grid-column: span 2;
      grid-row: 2;
      margin-right: 0;
      margin-left: auto;

      @include mq(768) {
        font-size: 14px;
      }

      @include mq(460) {
        margin-right: auto;
      }
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: min-content auto;
    row-gap: 20px;

    @include mq(768) {
      margin-top: 25px;
    }
  }

  &__work-time {
    display: flex;
    align-items: center;
    max-width: 16.95vw;
    font-size: 13px;
    line-height: 130%;
    color: var(--text-light-color);

    &-icon {
      flex-shrink: 0;
      margin-right: 14px;
      width: 31px;
      height: 31px;
      fill: var(--main-red-color);

      @include mq(460) {
        margin-bottom: 10px;
        width: 17px;
        height: 17px;
      }
    }

    @include mq(768) {
      margin-top: 25px;
      max-width: 30vw;
      font-size: 14px;
    }

    @include mq(460) {
      flex-direction: column;
      align-items: center;
      max-width: 210px;
      text-align: center;
    }
  }

  &__under {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 38px;

    @include mq(460) {
      flex-direction: column;
    }
  }

  &__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    color: #b5b5b5;
  }

  &__privacy {
    margin: 0 auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-decoration: underline;
    color: #b5b5b5;
  }
}
