.hero {
  overflow: hidden;
  height: 51vw;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    position: relative;
    padding-top: calc(var(--header-height) + 6.35vw);
  }

  &__content {
    width: 70%;

    @include mq(768) {
      position: relative;
      z-index: 1;
      margin-bottom: 5.5vw;
      width: 100%;
    }

    @include mq(460) {
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 2.5vw;

    @include mq(768) {
      position: relative;
      z-index: 1;
      margin-bottom: 40vw;
      font-size: 4.5vw;
    }

    @include mq(460) {
      margin-bottom: 470px;
      font-size: 24px;
      text-align: center;
    }
  }

  &__cards {
    display: grid;
    column-gap: 0.78vw;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0.94vw;

    @include mq(460) {
      grid-template-columns: none;
    }
  }

  &__controls {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 4.38vw;

    &-decor {
      margin-right: 25px;
      width: 34px;
      height: 40px;

      @include mq(460) {
        display: none;
      }
    }

    @include mq(460) {
      order: 2;
    }
  }

  &__button {
    margin-right: 22px;

    @include mq(460) {
      margin-top: 15px;
    }
  }

  &__small-text {
    font-weight: 400;
    font-size: 0.99vw;
    line-height: 130%;
    color: var(--light-color);

    @include mq(1024) {
      font-size: 1.5vw;
    }

    @include mq(768) {
      font-size: 2vw;
    }

    @include mq(460) {
      position: absolute;
      top: -910px;
      font-size: 14px;
      text-align: center;
    }
  }

  &__image {
    position: absolute;
    right: -15px;
    bottom: -4.38vw;
    width: 25.65vw;
    height: 43.5vw;
    pointer-events: none;

    @include mq(1024) {
      bottom: -2.38em;
    }

    @include mq(768) {
      left: 0;
      right: 0;
      top: 40%;
      margin: 0 auto;
      width: 42.65vw;
      height: auto;
    }

    @include mq(460) {
      top: 27%;
      width: 72.65vw;
    }
  }

  &__tooltip-wrapper {
    position: absolute;
    right: -4%;
    top: -5%;
    z-index: 1;

    @include mq(1440) {
      right: -8%;
      top: 80%;
    }

    @include mq(1024) {
      right: -15%;
    }

    @include mq(768) {
      right: 60%;
      top: -85%;
    }

    @include mq(460) {
      right: 70%;
      top: -615px;
    }
  }

  @include mq(1440) {
    height: 59vw;
  }

  @include mq(768) {
    overflow-y: hidden;
    height: auto;
  }
}
