.phone {
  font-weight: 600;
  font-size: 1.09vw;
  line-height: 125%;
  color: var(--text-light-color);
  transition: color 0.3s ease;

  @include mq(1024) {
    font-size: 1.5vw;
  }

  @include mq(768) {
    font-size: 18px;
  }

  &:hover {
    color: var(--main-red-color);
  }
}
