.preference {
  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @include mq(768) {
      column-gap: 20px;
    }

    @include mq(460) {
      grid-template-columns: none;
    }
  }

  &__title {
    margin-bottom: 4.95vw;
  }

  &__image-wrapper {
    position: absolute;
    left: -6%;
    right: 0;
    bottom: 0;
    z-index: 0;
    margin: 0 auto;
    width: 33.59vw;
    height: 31.77vw;

    @include mq(768) {
      position: static;
      order: -1;
      grid-column: span 2;
    }

    @include mq(460) {
      grid-column: 1;
      width: 90%;
      height: auto;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__list {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 5.2vw;
    pointer-events: none;

    &-item {
      display: flex;
      border-radius: 5px;
      padding: 1.3vw 1.82vw;
      background: linear-gradient(265.27deg, rgba(255 255 255 / 39%) -4.05%, rgba(242 242 242 / 33%) 100%), linear-gradient(87.44deg, #dcdcdc 2.23%, #dcdcdc 2.24%, #fff 42.97%, #fbfbfb 69.45%, #ebebeb 100%);

      &-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        margin-right: 1.45vw;
        border-radius: 4px;
        width: 4vw;
        height: 4vw;
        background: linear-gradient(98.55deg, #9099a5 7.18%, #a8afb8 55.48%, #9099a5 95.5%);

        img {
          width: 1.56vw;
          height: 1.56vw;
          object-fit: contain;

          @include mq(768) {
            width: 3vw;
            height: 3vw;
          }

          @include mq(460) {
            width: 25px;
            height: 25px;
          }
        }

        @include mq(768) {
          margin-top: auto;
          margin-bottom: auto;
          width: 7vw;
          height: 7vw;
        }

        @include mq(460) {
          width: 60px;
          height: 60px;
        }
      }

      &-title {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 1.25vw;
        line-height: 110%;
        color: #5b5b5b;

        @include mq(768) {
          font-size: 2.3vw;
        }

        @include mq(460) {
          margin-bottom: 5px;
          font-size: 18px;
        }
      }

      &-text {
        font-weight: 600;
        font-size: 0.94vw;
        line-height: 120%;
        color: #5b5b5b;

        @include mq(768) {
          font-size: 1.8vw;
        }

        @include mq(460) {
          font-size: 14px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 46px;

        @include mq(768) {
          margin-bottom: 15px;
        }
      }

      &--first {
        max-width: 23.4vw;
      }

      &--second,
      &--fourth {
        max-width: 21.35vw;
      }

      &--third {
        max-width: 27.34vw;
      }

      &--fifth {
        max-width: 20.31vw;
      }

      &--sixth {
        max-width: 28.125vw;
      }

      @include mq(768) {
        width: 100%;
        max-width: none;
      }

      @include mq(460) {
        align-items: center;
      }
    }

    &--right {
      align-items: flex-end;
    }

    @include mq(768) {
      pointer-events: all;
    }
  }

  &__youtube {
    position: absolute;
    left: 38%;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 65px;
    width: 5.2vw;
    height: 5.2vw;
    box-shadow: 0 4px 14px rgba(139 33 33 / 25%);
    background: #fff;

    img {
      width: 2.865vw;
      height: 1.98vw;

      @include mq(460) {
        width: 35px;
        height: auto;
      }
    }

    @include mq(460) {
      width: 55px;
      height: 55px;
    }
  }
}
