.program {
  padding-top: 4.27vw;
  padding-bottom: 6.77vw;
  background-image: url("../img/program-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090c1b;

  &__title {
    margin-bottom: 3.5vw;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2.4vw;

    @include mq(460) {
      grid-template-columns: none;
    }
  }

  &__item {
    border-radius: 12px;
    padding-top: 1.98vw;
    padding-right: 1.15vw;
    padding-left: 1.15vw;
    color: var(--text-color);
    transition: transform 0.3s ease-in-out;

    &-title {
      margin: 0;
      margin-bottom: 0.26vw;
      font-family: var(--font-family-second);
      font-weight: 700;
      font-size: 1.56vw;
      line-height: 130%;
      letter-spacing: 0.01em;
      text-align: center;
      text-transform: uppercase;
      background: var(--title-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include mq(1024) {
        font-size: 2.5vw;
      }

      @include mq(460) {
        font-size: 20px;
      }
    }

    &-time {
      margin-bottom: 1.15vw;
      color: var(--titles-text-color, currentcolor);

      @include mq(460) {
        font-size: 12px;
      }
    }

    &-subtitle {
      margin-bottom: 1.56vw;
      text-transform: uppercase;
      color: var(--titles-text-color, currentcolor);

      @include mq(460) {
        font-size: 14px;
      }
    }

    &-small-title {
      margin-bottom: 0.63vw;
      padding-left: 0.94vw;
      font-weight: 700;
      font-size: 1.04vw;
      line-height: 130%;
      color: var(--titles-text-color, currentcolor);

      @include mq(1024) {
        font-size: 1.2vw;
      }

      @include mq(1024) {
        font-size: 1.8vw;
      }

      @include mq(460) {
        font-size: 18px;
      }
    }

    &-list {
      margin-bottom: 1.35vw;
      padding-left: 0.94vw;
    }

    &-list-item {
      font-size: 0.83vw;
      line-height: 140%;

      &:not(:last-child) {
        margin-bottom: 0.26vw;
      }

      @include mq(1024) {
        font-size: 1.5vw;
      }

      @include mq(1024) {
        font-size: 1.8vw;
      }

      @include mq(460) {
        font-size: 14px;
      }
    }

    cite {
      display: inline-block;
      margin-bottom: 1.56vw;
      padding: 0 15px;
      font-size: 0.83vw;
      line-height: 140%;
      text-align: center;

      @include mq(1024) {
        font-size: 1.1vw;
      }

      @include mq(768) {
        font-size: 1.5vw;
      }

      @include mq(460) {
        font-size: 14px;
      }
    }

    &-result {
      margin-bottom: 1.82vw;
      border: 1px dashed var(--result-border-color);
      border-radius: 8px;
      padding: 0.83vw 1.46vw 1.3vw;

      .program__item-small-title,
      .program__item-list {
        padding: 0;
      }

      .program__item-list {
        margin: 0;
      }
    }

    &-button {
      margin-bottom: -1.82vw;

      @include mq(1024) {
        max-width: 25vw;
      }

      @include mq(460) {
        margin-bottom: -15px;
        max-width: 100%;
      }
    }

    &--white {
      --title-gradient: linear-gradient(98.57deg, #142339 2.02%, #556277 47.65%, #13243e 89.63%);
      --text-color: #303035;
      --result-border-color: #f00;

      margin-top: 1.3vw;
      margin-bottom: 3.65vw;
      background: linear-gradient(88.53deg, #eee 1.5%, #fff 46.7%, #e1e1e1 99.02%);

      @include mq(460) {
        margin-bottom: 35px;
      }
    }

    &--red {
      --title-gradient: linear-gradient(98.62deg, #ffb1ac -24.09%, #fff 45.65%, #ff7474 109.82%);
      --text-color: #dddcdc;
      --titles-text-color: #fff;
      --result-border-color: #f2f1f1;

      background: linear-gradient(90deg, #7e0408 0%, #ba4347 51.56%, #a00f13 100%);

      @include mq(460) {
        margin-bottom: 35px;
      }
    }

    &--blue {
      --title-gradient: linear-gradient(98.62deg, #b3d1ff -24.09%, #fff 45.65%, #7393c4 109.82%);
      --text-color: #dddcdc;
      --titles-text-color: #fff;
      --result-border-color: #f00;

      margin-top: 1.3vw;
      margin-bottom: 5.21vw;
      background: linear-gradient(88.37deg, #121a3c 6.07%, #2f3655 53.4%, #1d264f 99.75%);

      @include mq(460) {
        margin-bottom: 35px;
      }
    }

    &-time,
    &-subtitle {
      font-weight: 600;
      font-size: 0.83vw;
      line-height: 130%;
      text-align: center;

      @include mq(1024) {
        font-size: 1.5vw;
      }

      @include mq(460) {
        font-size: 14px;
      }
    }

    @include mq(460) {
      padding-right: 10px;
      padding-left: 10px;
    }

    @include hover {
      transform: scale(1.05);
    }
  }

  &__discont {
    margin: 0 auto;
    max-width: 15.63vw;
    font-family: var(--font-family-second);
    font-weight: 500;
    font-size: 1.56vw;
    line-height: 135%;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(88.53deg, #eee 1.5%, #fff 46.7%, #e1e1e1 99.02%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

    span {
      font-size: 2.76vw;
      line-height: 75%;
      letter-spacing: 0.01em;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(98.57deg, #920505 2.02%, #fc4848 47.65%, #8e0a0a 89.63%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include mq(460) {
        font-size: 53px;
      }
    }

    @include mq(460) {
      display: none;
      margin-bottom: 55px;
      max-width: 100%;
      font-size: 30px;
    }
  }

  &__payment {
    position: relative;
    border: 1px dashed #f2f1f1;
    border-radius: 8px;
    padding: 0.94vw 1.77vw;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #f6f6f6;

    span {
      display: block;
      font-size: 1.56vw;
      line-height: 110%;
      background: linear-gradient(#e21717, #e21717);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;

      @include mq(460) {
        font-size: 26px;
      }
    }

    &-image {
      position: absolute;
      right: -2%;
      bottom: -60%;
      width: 7.81vw;
      height: 7.29vw;

      @include mq(460) {
        right: 40%;
        top: -100%;
        bottom: auto;
        width: 95px;
        height: auto;
      }
    }

    @include mq(460) {
      display: none;
      font-size: 20px;
    }
  }

  &__mobile-control {
    display: none;

    @include mq(460) {
      display: block;

      .program__payment,
      .program__discont {
        display: block;
      }
    }
  }
}
