.socials {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 8px;

    &-icon {
      --current-color: var(--main-red-color);

      display: block;
      width: 24px;
      height: 24px;
    }

    &--telegram:hover {
      .socials__item-icon {
        --current-color: #00a3ff;
      }
    }

    &--whatsapp:hover {
      .socials__item-icon {
        --current-color: #01bf2b;
      }
    }
  }
}
