.tooltip {
  position: relative;
  z-index: 1;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: max(1.56vw, 19px);
    height: max(1.56vw, 19px);
    background-color: #fb242a;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      display: block;
      border-radius: 50%;
      width: max(1.56vw, 19px);
      height: max(1.56vw, 19px);
      box-shadow: 0 0 1rem rgba(169 31 35 / 100%);
      background: rgba(169 31 35 / 100%);
      -webkit-animation: pulse 3s infinite;
      animation: pulse 3s infinite;
      pointer-events: none;
    }

    &::after {
      animation-delay: 0.65s;
    }

    svg {
      width: max(0.78vw, 10px);
      height: max(0.78vw, 10px);
    }

    &-icon {
      --current-color: var(--light-color);
    }

    &:hover + .tooltip__txt {
      opacity: 1;
      visibility: visible;
    }

    &:hover {
      &-icon {
        --current-color: #8f0b0b;
      }
    }
  }

  &__txt {
    display: block;
    border-radius: 7px;
    padding: 1.4vw 1.35vw 1.56vw 1.77vw;
    width: 570px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    inset: auto 2.86vw 2.86vw auto !important;

    p {
      margin: 0;
      font-size: max(0.83vw, 12px);

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }

    @include mq(1024) {
      inset: auto 65px -55px auto !important;
    }

    @include mq(460) {
      width: 80vw;
      inset: auto 5px -235px auto !important;
    }
  }

  &:hover {
    .tooltip__btn-icon {
      --current-color: #8f0b0b;
    }
  }
}
