.tooltip {
  position: relative;
  z-index: 1;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fb242a;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      display: block;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      box-shadow: 0 0 1rem rgba(169 31 35 / 100%);
      background: rgba(169 31 35 / 100%);
      -webkit-animation: pulse 3s infinite;
      animation: pulse 3s infinite;
    }

    &::after {
      animation-delay: 0.65s;
    }

    svg {
      width: 15px;
      height: 15px;
    }

    &:hover + .tooltip__txt {
      opacity: 1;
      visibility: visible;
    }
  }

  &__txt {
    display: block;
    border-radius: 7px;
    padding: 27px 26px 30px 34px;
    width: 570px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    inset: auto 55px 55px auto !important;

    p {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
}
