<section class="about" id="about">
  <div class="about__container container">
    <div class="about__image-block">
      <picture>
        <source srcset="img/about-img.avif" type="image/avif">
        <source srcset="img/about-img.webp" type="image/webp">
        <img loading="lazy" src="img/about-img.png" class="about__image" width="750" height="1045" alt="Сергей Ринейский - основатель компании">
      </picture>
      <div class="about__name">Сергей Ринейский</div>
      <div class="about__position">Основатель компании</div>
      <img class="about__certificate" src="img/about__certificate.png">
    </div>
    <div class="about__preference">
      <div class="about__preference-item">
        <div class="about__preference-number">12 лет</div>
        <div class="about__preference-text">трейдинга с опытом торгов</div>
      </div>
      <div class="about__preference-item">
        <div class="about__preference-number">11 лет</div>
        <div class="about__preference-text">Опыт работы на Forex и фондовом рынке</div>
      </div>
      <div class="about__preference-item">
        <div class="about__preference-number">> 8 лет</div>
        <div class="about__preference-text">Опыт успешного обучения</div>
      </div>
      <div class="about__preference-item">
        <div class="about__preference-number">5 лет</div>
        <div class="about__preference-text">Опыт управления клиентскими активами</div>
      </div>
    </div>
    <div class="about__education">
      <button class="btn-reset about__form-modal" data-graph-path="modalForm">
        <svg class="about__form-modal-icon">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
      </button>
      <div class="about__education-item">
        <span class="--text-underline">Высшее</span> экономическое <span class="--text-underline">образование</span>
      </div>
      <div class="about__education-item">
        <span class="--text-underline">Кандидат Экономических наук</span> в сфере Банков, Финансов и Инвестиций (MSc)
      </div>
      <div class="about__education-item">
        Учёная степень в банке <span class="--text-underline">System and Finance</span>
      </div>
      <div class="about__education-item">
        Опыт работы с производными <span class="--text-underline">ценными бумагами</span>
      </div>
      <div class="about__education-item">
        Знание различных торговых стратегий (<span class="--text-underline">VSA, hedging, short-term</span> and <span class="--text-underline">long-term trading</span>)
      </div>
      <div class="about__education-item">
        Знание ПО – <span class="--text-underline">Bloomberg, MetaTrader 4 и 5, ForexTester 3</span> и др.
      </div>
      <div class="about__education-item">
        Знание <span class="--text-underline">технического</span> и <span class="--text-underline">фундаментального анализа</span>
      </div>
    </div>
    <div class="about__info">
      <div class="about__info--under"></div>
      <div class="about__info-content">
        <p>Несколько лет назад <span class="--text-red">организовал школу обучению инвестициям и управлению капиталом</span> на мировых финансовых рынках в целях извлечения, как пассивной доходности, так и активной.</p>
        <p><span class="--text-red">Разработал ряд эффективных торговых стратегий</span> для управления капиталом. <br>
          Стратегии включат в себя такие подходы как: <br>
          - извлечение дохода от разницы ставок рефинансирования разных ЦБ мира; <br>
          - торговля на долговом рынке.
        </p>
        <p><span class="--text-red">Обучил более 100 человек</span>, большая часть из которых являются трейдерами, а также инвесторами.</p>
      </div>
    </div>
  </div>
</section>
