<section class="benefit" id="benefit">
  <div class="container benefit__container">
    <h2 class="benefit__title --h2" data-aos="fade-up">Что  вы получите благодаря обучению в «<span class="--title-text-red">capital go</span>»?</h2>
    <div class="benefit__content">
      <div class="benefit__items">
        <div class="benefit__grid">
          <div class="benefit__item benefit__item--first">
            <picture>
              <source srcset="img/benefit-1.avif" type="image/avif">
              <source srcset="img/benefit-1.webp" type="image/webp">
              <img loading="lazy" src="img/benefit-1.jpg" class="benefit__item-image" width="125" height="70">
            </picture>
          </div>
          <div class="benefit__item benefit__item--second">
            <picture>
              <source srcset="img/benefit-2.avif" type="image/avif">
              <source srcset="img/benefit-2.webp" type="image/webp">
              <img loading="lazy" src="img/benefit-2.jpg" class="benefit__item-image" width="125" height="70">
            </picture>
          </div>
          <div class="benefit__item benefit__item--third">
            <picture>
              <source srcset="img/benefit-3.avif" type="image/avif">
              <source srcset="img/benefit-3.webp" type="image/webp">
              <img loading="lazy" src="img/benefit-3.jpg" class="benefit__item-image" width="125" height="70">
            </picture>
          </div>
          <div class="benefit__item benefit__item--fourth">
            <picture>
              <source srcset="img/benefit-4.avif" type="image/avif">
              <source srcset="img/benefit-4.webp" type="image/webp">
              <img loading="lazy" src="img/benefit-4.jpg" class="benefit__item-image" width="125" height="70">
            </picture>
          </div>
          <div class="benefit__item benefit__item--fifth">
            <picture>
              <source srcset="img/benefit-5.avif" type="image/avif">
              <source srcset="img/benefit-5.webp" type="image/webp">
              <img loading="lazy" src="img/benefit-5.jpg" class="benefit__item-image" width="125" height="70">
            </picture>
          </div>
          <div class="benefit__item benefit__item--sixth">
            <picture>
              <source srcset="img/benefit-6.avif" type="image/avif">
              <source srcset="img/benefit-6.webp" type="image/webp">
              <img loading="lazy" src="img/benefit-6.jpg" class="benefit__item-image" width="125" height="70">
            </picture>
          </div>
          <div class="benefit__item-descr benefit__item-descr--first">
            <div class="benefit__item-text">Бесплатное использование  алгоритмов, торговых роботов  собственной разработки</div>
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
          <div class="benefit__item-descr benefit__item-descr--second benefit__item-descr--revers">
            <div class="benefit__item-text">Опыт и знания от профессионалов финансового мира</div>
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
          <div class="benefit__item-descr benefit__item-descr--third">
            <div class="benefit__item-text">Умение управлять финансами и капиталом</div>
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
          <div class="benefit__item-descr benefit__item-descr--fourth benefit__item-descr--revers">
            <div class="benefit__item-text">Возможность личностного роста</div>
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
          <div class="benefit__item-descr benefit__item-descr--fifth">
            <div class="benefit__item-text">Возможность самостоятельно зарабатывать уже через 1 месяц</div>
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
          <div class="benefit__item-descr benefit__item-descr--sixth benefit__item-descr--revers">
            <div class="benefit__item-text">Полную поддержку в течение 1 года</div>
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
          <div class="benefit__item-descr benefit__item-descr--seventh">
            <img loading="lazy" src="img/benefit-marker.svg" class="benefit__item-marker" width="25" height="135">
          </div>
        </div>
      </div>
      <div class="benefit__text">
        <p><span class="--text-red">Свидетельство</span> о дополнительном образовании</p>
        <p>Возможность работать <span class="--text-red">без руководителя</span> по своему графику</p>
        <p>Работу <span class="--text-red">без потолка дохода</span>. Свою прибыль планируете самостоятельно.</p>
        <button class="btn-reset benefit__button button button--transparent" data-graph-path="modalForm">Записаться на бесплатное занятие</button>
      </div>
    </div>
  </div>
</section>
