<section class="callback" id="callback">
  <div class="container callback__container">
    <div class="callback__picture">
      <picture>
        <source srcset="img/callback-img.avif" type="image/avif">
        <source srcset="img/callback-img.webp" type="image/webp">
        <img loading="lazy" src="img/callback-img.png" class="image" width="650" height="810" alt="Сергей Ринейский">
      </picture>
      <div class="callback__name">Сергей Ринейский</div>
      <div class="callback__position">Основатель компании</div>
    </div>
    <div class="callback__form-wrapper">
      <div class="callback__form--under"></div>
      <form class="callback__form callback-form" action="#">
        <h2 class="callback-form__title">Остались вопросы?</h2>
        <div class="callback-form__subtitle">Заполните форму, чтобы наш специалист связался с вами и подробно ответил на все вопросы</div>
        <label class="callback-form__label">
          <span class="callback-form__label-text">Введите ваше имя</span>
          <input class="callback-form__input callback-form__input--name" name="Имя клиента" type="text" placeholder="Ваше имя" id="callback-name">
        </label>
        <label class="callback-form__label">
          <span class="callback-form__label-text">Введите телефон</span>
          <input class="callback-form__input callback-form__input--tel" name="Телефон для связи" type="tel" placeholder="+7 (___) ___-__-__" id="callback-tel">
        </label>
        <button type="submit" class="btn-reset callback-form__button button button--main button--small --button-shadow-25 --button-pulse">Получить ответ</button>
        <p class="callback-form__policy">Нажимая кнопку вы даете свое согласие на  <a class="callback-form__policy-link" href="/policy.html">обработку персональных данных</a></p>
      </form>
    </div>
  </div>
</section>
