<footer class="footer">
  <div class="container footer__container">
    <div class="footer__logo logo">
      <img loading="lazy" src="img/logo.svg" class="logo__image" width="150" height="72" alt="Capital Go logo">
      <span class="logo__text">Школа трейдинга и инвестиций Сергея Ринейского</span>
    </div>
    <a class="footer__link footer__link--address" href="https://yandex.ru/maps/-/CCUNM8C0DA">
      <svg class="footer__link-icon link-icon">
        <use xlink:href="img/sprite.svg#address-icon"></use>
      </svg>
      БЦ Нижегородский,  Россия 109052,  ул. Нижегородская 29 офис 307
    </a>
    <div class="footer__work-time">
      <svg class="footer__work-time-icon">
        <use xlink:href="img/sprite.svg#clock"></use>
      </svg>
      <div class="footer__work-time-text">Запись на курсы: Ежедневно, с 10:00 до 18:00. Суббота, воскресенье — выходной день <span class="online footer__online"></span></div>
    </div>
    <div class="footer__contacts">
      <div class="footer__socials socials">
        <a class="socials__item socials__item--telegram" href="https://t.me/Capitalgoo" target="_blank">
          <svg class=" socials__item-icon">
            <use xlink:href="img/sprite.svg#telegram-icon"></use>
          </svg>
        </a>
      </div>
      <a class="footer__phone phone" href="tel:+74992887873">+7 (499) 288-78-73</a>
      <a class="footer__link footer__link--email" href="mailto:capital@capital-go.ru">
        <svg class="footer__link-icon link-icon">
          <use xlink:href="img/sprite.svg#email-icon"></use>
        </svg>
        capital@capital-go.ru
      </a>
    </div>
  </div>
  <div class="container footer__under">
    <p class="footer__copyright">© Все права защищены, 2022</p>
    <a class="footer__privacy" href="/politica.html">Политика конфиденциальности</a>
  </div>
</footer>
