<section class="learn --mb-80" id="learn">
  <div class="container learn__container">
    <h2 class="learn__title --h2">научим <span class="--text-dark-red">инвестировать</span> и правильно <span class="--text-dark-red">управлять</span> инвестициями <span class="--text-dark-red">за 1 месяц</span></h2>
    <div class="learn__content">
      <div class="learn__graph">
        <picture>
          <source srcset="img/learn-graph.avif" type="image/avif">
          <source srcset="img/learn-graph.webp" type="image/webp">
          <img loading="lazy" src="img/learn-graph.png" class="learn__graph-image" width="635" height="485">
        </picture>
      </div>
      <div class="learn__text">
        <ul class="list-reset learn__list">
          <li class="learn__list-item">Предоставляем <span class="--text-dark-red">бесплатное использование</span> алгоритмических систем <span class="--text-dark-red">торговых роботов</span> собственной разработки в процессе обучения</li>
          <li class="learn__list-item">Обучаем тому, что применяем сами, а <span class="--text-dark-red">мы торгуем прибыльно</span></li>
          <li class="learn__list-item">Проводим <span class="--text-dark-red">обучение онлайн</span> (до 10 человек) и офлайн</li>
          <li class="learn__list-item"><span class="--text-dark-red">В офлайне</span> одновременно обучаем <span class="--text-dark-red">всего 4 человека</span>, индивидуальный подход к каждому гарантирован</li>
          <li class="learn__list-item">После обучения предлагаем <span class="--text-dark-red">работать вместе в команде</span></li>
        </ul>
        <button class="learn__button btn-reset button button--main --button-shadow-05 --button-pulse" data-graph-path="modalForm">
          Записаться на бесплатное занятие
        </button>
      </div>
    </div>
  </div>
</section>
