<section class="offer" id="offer">
  <div class="container offer__container">
    <h2 class="offer__title --h2" data-aos="fade-up">мы предлагаем вам</h2>
    <div class="offer__grid">
      <div class="offer__grid-col">
        <div class="offer__item offer__item--60 offer__item--first">
          <p class="offer__item-text">Научиться самостоятельно зарабатывать <span class="--text-red">уже через месяц</span> после старта обучения</p>
          <img loading="lazy" src="img/offer-1.png" class="offer__item-image" width="290" height="300">
        </div>
        <div class="offer__item offer__item--40 offer__item--second">
          <p class="offer__item-text">Доступ <span class="--text-red">к эксклюзивным инвестиционным идеям</span> во время обучения и после</p>
          <img loading="lazy" src="img/offer-2.png" class="offer__item-image" width="200" height="220">
        </div>
      </div>
      <div class="offer__grid-col">
        <div class="offer__item offer__item--100 offer__item--third">
          <p class="offer__item-text">Протестировать свои знания на специально разработанной программе до начала работы с реальными деньгами, что <span class="--text-red">и увеличить свой КПД на 70%</span></p>
          <img loading="lazy" src="img/offer-3.png" class="offer__item-image" width="420" height="375">
        </div>
      </div>
      <div class="offer__grid-col">
        <div class="offer__item offer__item--40 offer__item--fourth">
          <p class="offer__item-text">Помощь в открытии счёта <span class="--text-red">в банке Швейцарии</span></p>
          <img loading="lazy" src="img/offer-4.png" class="offer__item-image" width="265" height="150">
        </div>
        <div class="offer__item offer__item--60 offer__item--fifth">
          <p class="offer__item-text">Информационный консалтинг (берём на себя планирование и распределение инвестиций <span class="--text-red">с защитой Вашего капитала</span>)</p>
          <img loading="lazy" src="img/offer-5.png" class="offer__item-image" width="170" height="310">
        </div>
      </div>
    </div>
    <button class="btn-reset offer__button button button--main --button-shadow-25 --button-pulse" data-graph-path="modalForm">подобрать подходящий курс</button>
  </div>
</section>
