<section class="program">
  <div class="container program__container">
    <h2 class="program__title --h2">Программы обучения</h2>
    <div class="program__grid">
      <div class="program__grid-col">
        <div class="program__item program__item--white">
          <h3 class="program__item-title">Базовый курс</h3>
          <div class="program__item-time">3 недели/ 6 занятий</div>
          <div class="program__item-subtitle">Изучите основы трейдинга и научитесь понимать рыночные процессы</div>
          <div class="program__item-small-title">Программа курса</div>
          <ul class="list-reset program__item-list">
            <li class="program__item-list-item">•	Игроки, их цели и возможности на рынке Форекс</li>
            <li class="program__item-list-item">•	География и композиция рынка Форекс, регулирование</li>
            <li class="program__item-list-item">•	Понятие «ликвидности»</li>
            <li class="program__item-list-item">•	Торговые сессии, внутридневные циклы</li>
            <li class="program__item-list-item">•	Новости, макроиндикаторы, сезонность на рынке Форекс</li>
            <li class="program__item-list-item">•	Котировки, прямые и обратные, кросс-курсы</li>
            <li class="program__item-list-item">•	Бай/селл, лонг/шорт, быки/медведи</li>
            <li class="program__item-list-item">•	Спрэд, бид/аск</li>
            <li class="program__item-list-item">•	Стакан, движение цены в стакане</li>
            <li class="program__item-list-item">•	Кредитное плечо, залог, лотность, расчет лота, стоимость пункта, пример сделки (расчет прибыли/убытка)</li>
            <li class="program__item-list-item">•	Вид графика, свечи, бары, OHLC, таймфреймы</li>
            <li class="program__item-list-item">•	Таблица «процент потерь — процент восстановления»</li>
          </ul>
          <div class="program__item-result">
            <div class="program__item-small-title">Результат</div>
            <ul class="list-reset program__item-list">
              <li class="program__item-list-item">•	Сформируете понимание принципов работы валютного, фондового и товарно–сырьевого рынков</li>
              <li class="program__item-list-item">•	Составите персональный инвестиционный план</li>
              <li class="program__item-list-item">•	Совершите первые успешные сделки под контролем специалистов</li>
              <li class="program__item-list-item">•	Получите свидетельство о дополнительном образовании</li>
            </ul>
          </div>
          <button class="btn-reset program__item-button button button--main button--small --button-shadow-25 --button-pulse"
          data-graph-path="modalForm">узнать стоимость</button>
        </div>
        <div class="program__discont">
          Скидка <span>35%</span> онлайн
        </div>
      </div>
      <div class="program__grid-col">
        <div class="program__item program__item--red">
          <h3 class="program__item-title">Продвинутый курс</h3>
          <div class="program__item-time">8 недель/ 16 занятий</div>
          <div class="program__item-subtitle">получите готовые торговые стратегии, основанные на знаниях и практиках наших преподавателей</div>
          <div class="program__item-small-title">Программа курса —  «базовый»+</div>
          <ul class="list-reset program__item-list">
            <li class="program__item-list-item">•	Технический анализ: индикаторы — трендовые, осцилляторы, объемов</li>
            <li class="program__item-list-item">•	Парктическое применение индикаторов: скользящие средние (основные типы), MACD, OsMA,Stochastic, Parabolic SAR</li>
            <li class="program__item-list-item">•	Понятие «зашкала»/ангуляции</li>
            <li class="program__item-list-item">•	Графический анализ: модели продолжения и разворота</li>
            <li class="program__item-list-item">•	Уровни поддержки/сопротивления</li>
            <li class="program__item-list-item">•	Математические уровни — Фибоначчи. Трендовые линии, каналы (тактическое построение и использование)</li>
            <li class="program__item-list-item">•	Ордера стоп-лосс, тейк-профит</li>
            <li class="program__item-list-item">•	Безубыток</li>
            <li class="program__item-list-item">•	Свопы</li>
            <li class="program__item-list-item">•	Керри трейды</li>
            <li class="program__item-list-item">•	Риск-менеджмент (софт и Excel)</li>
            <li class="program__item-list-item">•	Торговые платформы: ForexTester3, JForex3, MetaTrader4</li>
            <li class="program__item-list-item">•	Торговый баланс, средства, уровень маржи</li>
            <li class="program__item-list-item">•	Анализ личной торговой статистики, ведение журнала</li>
            <li class="program__item-list-item">•	Технический анализ: введение в различные торговые техники для специализации</li>
            <li class="program__item-list-item">•	Торговые стили: скальпинг, интрадей, среднесрочная торговля, долгосрочная торговля — инвестирование, керри трейдинг, торговля от зашкала</li>
            <li class="program__item-list-item">•	Трендослежение, контртрендовая торговля</li>
            <li class="program__item-list-item">•	Спрос и предложение. 4 стадии рынка</li>
          </ul>
          <div class="program__item-result">
            <div class="program__item-small-title">Результат</div>
            <ul class="list-reset program__item-list">
              <li class="program__item-list-item">•	Научитесь работать с дневником трейдера</li>
              <li class="program__item-list-item">•	Научитесь планировать свою торговлю</li>
              <li class="program__item-list-item">•	Заработаете первые деньги на финансовом рынке (средний доход  учеников  составляет 10–17% в месяц)</li>
            </ul>
          </div>
          <button class="btn-reset program__item-button button button--white button--small --button-shadow-25 --button-pulse"
          data-graph-path="modalForm">узнать стоимость</button>
        </div>
      </div>
      <div class="program__grid-col">
        <div class="program__item program__item--blue">
          <h3 class="program__item-title">Специализация</h3>
          <div class="program__item-time">12 недель/ 24 занятий</div>
          <div class="program__item-subtitle">получите углубленные знания о том, как управлять финансовыми рисками, минимизировать их и получать максимальную прибыль</div>
          <cite>Вы пройдете профессиональную подготовку к сдаче экзаменов для осуществления торговых операций на финансовом рынке в Федеральной службе по финансовым рынкам</cite>
          <div class="program__item-small-title">Программа курса —  «базовый» и «продвинутый»+</div>
          <ul class="list-reset program__item-list">
            <li class="program__item-list-item">•	Торговля в режиме онлайн</li>
            <li class="program__item-list-item">•	Практика на Форекс Тестере</li>
            <li class="program__item-list-item">•	Психология, как основной элемент торговли. Управление капиталом</li>
            <li class="program__item-list-item">•	Создание портфеля</li>
            <li class="program__item-list-item">•	Открытие счета в Швейцарском Банке, реальный трейдинг</li>
          </ul>
          <div class="program__item-result">
            <div class="program__item-small-title">Результат</div>
            <ul class="list-reset program__item-list">
              <li class="program__item-list-item">•	Получите подготовку уровня управляющего активами</li>
              <li class="program__item-list-item">•	Научитесь управлять капиталом максимально эффективно</li>
              <li class="program__item-list-item">•	Получите торговые навыки и инвестиционный подход применяемый различными инвестиционными фондами и банками</li>
            </ul>
          </div>
          <button class="btn-reset program__item-button button button--main button--small --button-shadow-25 --button-pulse"
          data-graph-path="modalForm">узнать стоимость</button>
        </div>
        <div class="program__payment">
          Возможна оплата любого тарифа <span>в рассрочку</span>
          <img loading="lazy" src="img/program-card.png" class="program__payment-image" width="150" height="140">
        </div>
      </div>
    </div>
  </div>
</section>
