<section class="solution">
  <div class="container solution__container">
    <h2 class="solution__title --h2">У нас есть Решения</h2>
    <div class="solution__content">
      <div class="solution__list solution__list--first">
        <div class="solution__list-item">
          <div class="solution__list-item-number">01</div>
          <div class="solution__list-item-text">Вас обучает опытный трейдер с опытом торгов 12 лет</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">02</div>
          <div class="solution__list-item-text">Бесплатный подбор подходящего курса</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">03</div>
          <div class="solution__list-item-text">Вы получите уникальные знания европейского уровня</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">04</div>
          <div class="solution__list-item-text">Скидка 35% на онлайн обучение</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">05</div>
          <div class="solution__list-item-text">Гибкий график обучения с возможностью переноса занятий</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">06</div>
          <div class="solution__list-item-text">Научим самостоятельно зарабатывать уже через месяц</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">07</div>
          <div class="solution__list-item-text">Полная поддержка в течение 1 года</div>
        </div>
      </div>
      <div class="solution__list solution__list--second">
        <div class="solution__list-item">
          <div class="solution__list-item-number">08</div>
          <div class="solution__list-item-text">В процессе обучения и после вам доступны эксклюзивные инвест идеи</div>
        </div>
      </div>
      <div class="solution__list solution__list--third">
        <div class="solution__list-item">
          <div class="solution__list-item-number">09</div>
          <div class="solution__list-item-text">Предоставляем 19 прибыльных стратегий, доступных каждому</div>
        </div>
      </div>
      <div class="solution__list solution__list--fourth">
        <div class="solution__list-item">
          <div class="solution__list-item-number">10</div>
          <div class="solution__list-item-text">Научим правильно делать инвестиции</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">11</div>
          <div class="solution__list-item-text">Учим психологии отношения к деньгам и их работе</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">12</div>
          <div class="solution__list-item-text">Возможность протестировать свои знания на специально разработанной программе до начала работы с реальными деньгами</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">13</div>
          <div class="solution__list-item-text">Благодаря тестированию увеличите свой КПД на 70%</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">14</div>
          <div class="solution__list-item-text">Форматы обучения - онлайн и офлайн</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">15</div>
          <div class="solution__list-item-text">Заключаем договор</div>
        </div>
        <div class="solution__list-item">
          <div class="solution__list-item-number">16</div>
          <div class="solution__list-item-text">Возможность оплаты в рассрочку</div>
        </div>
      </div>
      <div class="solution__question">
        <div class="solution__question-item solution__question-item--first">Не будут ли зря выброшены деньги?</div>
        <div class="solution__question-item solution__question-item--second">А получится ли у меня?</div>
        <div class="solution__question-item solution__question-item--third">Смогу ли я этому научиться?</div>
        <div class="solution__question-item solution__question-item--fourth">Не поздно ли учиться после 30?</div>
        <picture>
          <source srcset="img/solution-question.avif" type="image/avif">
          <source srcset="img/solution-question.webp" type="image/webp">
          <img loading="lazy" src="img/solution-question.png" class="solution__question-image" width="335" height="575">
        </picture>
      </div>
    </div>
  </div>
</section>
