<section class="steps" id="steps">
  <div class="container steps__container">
    <h2 class="steps__title --h2">Этапы обучения</h2>
    <div class="steps__grid">
      <div class="steps__item step-item">
        <div class="step-item__number"><span>1</span></div>
        <img loading="lazy" src="img/steps-1.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          <span class="--text-red">Позвоните</span> нам, <span class="--text-red">напишите</span> или оставьте <span class="--text-red">заявку</span>
        </p>
      </div>
      <div class="steps__item step-item step-item--mt">
        <div class="step-item__number"><span>2</span></div>
        <img loading="lazy" src="img/steps-2.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          Мы <span class="--text-red">знакомимся</span>, в общих чертах обсуждаем  детали и выбираем день и время <span class="--text-red">бесплатного занятия</span>
        </p>
      </div>
      <div class="steps__item step-item step-item--mt">
        <div class="step-item__number"><span>3</span></div>
        <img loading="lazy" src="img/steps-3.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          <span class="--text-red">Подбираем курс</span>, который наиболее подходит под Ваши параметры и запросы
        </p>
      </div>
      <div class="steps__item step-item">
        <div class="step-item__number"><span>4</span></div>
        <img loading="lazy" src="img/steps-4.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          Заключаем <span class="--text-red">договор</span> и начинаем  <span class="--text-red">процесс обучения</span>
        </p>
      </div>
      <div class="steps__item step-item">
        <div class="step-item__number"><span>5</span></div>
        <img loading="lazy" src="img/steps-5.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          Вы начинаете <span class="--text-red">успешно торговать</span>, используя полученные знания
        </p>
      </div>
      <div class="steps__item step-item step-item--mt">
        <div class="step-item__number"><span>6</span></div>
        <img loading="lazy" src="img/steps-6.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          После обучения получаете <span class="--text-red">сертификат</span> и возможность <span class="--text-red">работать в команде</span>
        </p>
      </div>
      <div class="steps__item step-item">
        <div class="step-item__number"><span>7</span></div>
        <img loading="lazy" src="img/steps-7.svg" class="step-item__icon" width="100" height="100">
        <p class="step-item__text">
          Оказываем Вам <span class="--text-red">поддержку</span> в течение <span class="--text-red">1 года</span>
        </p>
      </div>
    </div>
  </div>
</section>
