// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "SegoeUI", sans-serif;
  --font-family-second: "Exo2", sans-serif;
  --content-width: 67.45vw;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --black-color: #000;
  --main-red-color: #e21717;
  --dark-red-color: #a91f23;
  --main-blue-color: #2643ff;
  --text-dark-color: #53575e;
  --text-light-color: #f2f1f1;
  --text-gray-color: #9d9d9d;

  // gradients
  --gradient-red: linear-gradient(180deg, #ef0000 0%, #ff8585 50.52%, #e80000 100%);
  --gradient-light-blue: linear-gradient(98.62deg, #b3d1ff -24.09%, #fff 45.65%, #7393c4 109.82%);

  // transitions
  --transition-setting: 0.2s ease-in;
}
